---
import SEO from 'simple-astro-seo';

export interface Props {
  title: string;
  image: string;
  description: string;
  url: string;
  pageType: string;

}

const { title, image, description, pageType, url, } = Astro.props as Props;
---

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <title>{title}</title>
  <SEO image={image} title={title} description={description} siteName={'James Perkins'} url={url} pageType={pageType}
    twitterHandle="james_r_perkins" />
</head>