---
import Seo from "./Seo.astro";

export interface Props {
  title: string;
  authors: Array<String>;
  description: string;
  categories: Array<String>;
  date: string;
  image: string;
}
const { title, authors, image, date, categories, description } = Astro.props;
const url = Astro.canonicalURL.href;
---

<div class="">
  <Seo title={title} description={description} coverImage={image} permalink={url} />
  <article class="prose lg:prose-xl mx-auto container max-w-5xl p-10 break-words">
    <div>
      <header class="my-4">
        <h1 class="text-center text-primary">{title}</h1>
        <p class="publish-date text-accent">{new Date(date).toDateString()}</p>
      </header>
      <main>
        <slot />
      </main>
    </div>
  </article>
</div>